*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Roboto", sans-serif;
}


/* Configuração do Card do Pokemon */

/* .card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 460px;
    background-color:rgb(146, 146, 146);
    border: 3px solid rgb(44, 44, 44);
    border-radius: 20px;
}

.card:hover{
    border: 3px solid rgb(116, 0, 116);
}

.card > img{
    width: 150px;
    height: 150px;
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 18px;
    gap: 15px;
    text-align: justify;
    padding: 0px 30px;
}

.text-wrapper h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

h3 {
    font-size: 18px;
}

.type {
    display: flex;
    align-items: center;
    gap: 15px;
}

.type p:hover {
    color: rgb(98, 0, 163);
    transition: 0.2s;
}

.type span:hover {
    color: rgb(176, 0, 230);
    transition: 0.2s;
}

.Weaknesses p:hover {
    color: rgb(211, 0, 0);
    transition: 0.2s;
} */


/* ----- Card com Todos os Cards Dentro (Beneficit) ----- */

/* .section-cards {
    margin-top: 112px;
    padding-left: 64px;
    padding-right: 64px;
}

.div-cards-global {
    display: flex;
    gap: 48px;
}

.card-infos {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card-infos img {
    width: 36px;
    height: 40px;
}

.card-infos h3 {
    font-size: 24px;
}

.card-infos p {
    font-size: 16px;
} */


/* ----- Card Dinâmico ----- */

.card-container {
    display: flex;
    margin-top: 112px;
    padding-left: 64px;
    padding-right: 64px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card img {
    width: 36px;
    height: 40px;
}

.card h3 {
    font-size: 24px;
}

.card p {
    font-size: 16px;
}

